<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string></string>
			</array>
			<key>UTTypeDescription</key>
			<string>UTTypeConformsTo</string>
			<key>UTTypeIdentifier</key>
			<string>com.helios.dragged-tab</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeTagSpecification</key>
			<dict/>
			<key>UTTypeDescription</key>
			<string>Helios Tab Identifier</string>
			<key>UTTypeIdentifier</key>
			<string>com.kevinperez.Helios.tab-id</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Helios requires camera access for video calls and WebRTC functionality</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Helios requires microphone access for audio calls and WebRTC functionality</string>
</dict>
</plist>
